/* Kutular sabit genişlikte */
*{
    box-sizing: border-box;
    padding: 0px;
	margin: 0px;
}

/* Kutu Genişlikleri */	
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Satırlar */
.row{
	/*border: blue solid 2px;*/
	background-color: cornflowerblue;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

/* satırlar yan yana gelmesin */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Tepkisel resim */
img {
	width:100%;
    height: auto;
}

/* col- yasla */
	[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
	/*background-color: cornsilk;*/
	border-radius: 8px;
}

/* Kutu yükseklikleri */
#ust{min-height: 50px;}
#menu{min-height: 50px;}
#orta{min-height: 400px;}
#alt{min-height: 50px;}

/* Sosyal medya ikonları */
#ikon{
	width: 50px;
	float: right;
	margin-right: 10px;
}

/* anamenu */
#menu #anamenu ul{
	list-style-type: none;
}

#menu #anamenu ul li{
	border: 3px solid blue;
	border-radius: 5px;
	width: 25%;
	float: left;
	text-align: center;
	background-color: dodgerblue;
	padding: 10px;
}

/* anamenu linkleri */
#menu #anamenu a{
	color: cornsilk;
	font-family: Verdana;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
}

#menu #anamenu a:hover{
	color: blue;
	text-decoration: underline;
}

#menu #anamenu a:active, a:visited{
	color: blueviolet;
}

/* yanmenu */
#yanmenu ul{
	list-style-type: none;
}

#yanmenu li{
	padding: 8px;
    margin-bottom: 7px;
	width: 100%;
	border-radius: 5px;
    background-color: deepskyblue;
	text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#yanmenu li:hover{
	background-color: dodgerblue;
}

/* yanmenu linkleri */
#yanmenu a{
	text-decoration: none;
	color: white;
	font-family: Verdana;
	font-weight: bold;
}

/* altmenu */
#alt #altmenu p{
	text-align: center;
}

#alt #altmenu a{
	color: cornsilk;
}

/* anasayfa */
#paragraf{
	width: 75%;
	color: white;
	background-color: deepskyblue;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	font-family: Verdana;
	font-size: 22px;
	font-weight: bold;
	border-left: blue 3px solid;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	left: 10%;
}

/* benkimim */
.text{
	color:white;
	font-size:20px;
	font-family:Copperplate;
	background-color:dodgerblue;
	width:75%;
	height:auto;
	position:relative;
	top:25%;
	left:50%;
	transform:translate(-50%,-20%);
	padding:25px;
	border-radius:75px 25px 75px 25px;
	z-index:0;
	letter-spacing:0.5px;
	word-spacing:0.5px;
}

#benkimim{
	width: 100px;
	height: 100px;
	position:relative;
	display:flex;
	transform:translate(-50%,-1%);
	border: blue 3px solid;
	border-radius:50%;
	z-index:1;
	top:25%;
    left:50%;
}

/* galeri */
.galeri-img{
	width:100%;
	height:100%;
	cursor: zoom-in;
}

.galeri{
  margin:5px;
  border:2px solid blue;
  float:left;
  width:150px;
  height:150px;
  background-color:darkslategray;
  color:gold;
  position:relative;
  top:25%;
  transform:translate(5%,-5%);
  transition: .3s ease-in-out;
  overflow: hidden;
  border-radius:100%;
}

.galeri:hover{
	border-color:dodgerblue;
}

.galeri img{
  width:100%;
  height:100%;
  transition: .3s ease-in-out;
  transform: scale(1);
}

.galeri img:hover{
	transform: scale(1.3);
}

/* iletişim */
.iletisim {
  border:none;
  color:white;
  background-color: blue;
  border-radius: 5px 15px 5px 15px;
  padding:20px;
  position:relative;
  width:70%;
  height:90%;
  transform:translate(15%);
}

label{
	border-left:4px solid deepskyblue;
	padding-left:5px;
}

input[type=text]{
  width:100%;
  padding:12px 20px;
  margin:8px 0;
  display:inline-block;
  border:3px solid deepskyblue;
  border-radius:3px;
  box-sizing:border-box;
  transition: 0.5s;
  outline: none;
}

input[type=email]{
  width:100%;
  padding:12px 20px;
  margin:8px 0;
  display:inline-block;
  border:3px solid deepskyblue;
  border-radius:3px;
  box-sizing:border-box;
  transition: 0.5s;
  outline: none;
}

textarea[type=text]{
  width:100%;
  padding:12px 20px;
  margin:8px 0;
  display:inline-block;
  border:3px solid deepskyblue;
  border-radius:3px;
  box-sizing:border-box;
  resize:none;
  transition: 0.5s;
  outline: none;
}

.iletisim textarea{
	height:120px;
}

input[type=submit]{
  width:100%;
  background-color:deepskyblue;
  color:white;
  padding:14px 20px;
  margin:8px 0;
  border:none;
  border-radius:3px;
  cursor:pointer;
  font-family:Verdana;
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
  transition: 0.5s;
}

input:focus{
	border:3px solid dodgerblue;
	color:orangered;
}

input[type=text]:focus {
  border:3px solid dodgerblue;
}

input[type=email]:focus {
  border:3px solid dodgerblue;
}

textarea[type=text]:focus {
  border:3px solid dodgerblue;
  color:orangered;
}

input[type=submit]:hover {
  background-color:dodgerblue;
}

/* 500px den küçük ekranlarda kutu genişliği %100 olsun */
@media only screen and (max-width: 500px) {
	[class*="col-"]{width:100%;}
	#menu #anamenu ul li{width:100%;}
}